* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #000;
  width: 50vw;
  height: 20vh;
  margin: 50px auto;
}

#random-number,
#wrong-number,
#correct-number {
  font-size: 50px;
  font-weight: bold;
}

#wrong-number {
  color: red;
}

#correct-number {
  color: green;
}
